body {
    background: #333;
    padding-top: 100px;
    display: flex;
    justify-content: center;
}

.text h1 {
    color: #fff;
    font-family: monospace;
    letter-spacing: 7px;
    white-space: nowrap;
    overflow: hidden;
    border-right: 5px solid orange;
    animation: typing 1s steps(14) infinite,
    caret .5s steps(2) infinite;
}

@keyframes caret {
    from {
        border-color: transparent;
    }
    to {
        border-color: orange;
    }
}
@keyframes typing {
    from {
        width: 0;
    }
    to {
        width: 105%;
    }
}